{
    debug
    servers {
        trace
    }
    log default {
        output stdout
        format json
        include http.log.access admin.api
    }
    metrics {
        per_host
    }
}

# External proxy
# TODO: Add HTTPS proxy
http://localhost { 
    handle {
        reverse_proxy zoubun-service:3000
    }
}


http://localhost:2019 { 
    handle {
        reverse_proxy zoubun-endpoint:2019
    }
}

# For prometheus metrics to the zoubun app
http://zoubun-service {
    handle {
        reverse_proxy zoubun-service:3000
    }
}

# For prometheus metrics to the caddy webserver
http://zoubun-endpoint {
    handle {
        reverse_proxy zoubun-endpoint:2019
    }
}
