{
    debug
    servers {
        trace
    }
    log default {
        output stdout
        format json
        include http.log.access admin.api
    }
    metrics {
        per_host
    }
}


# External proxy
http://localhost { 
    handle {
        reverse_proxy zoubun-service:3000
    }
}

# For prometheus metrics to the zoubun app
http://zoubun-service {
    handle {
        reverse_proxy zoubun-service:3000
    }
}

# For prometheus metrics to the caddy webserver
http://zoubun-endpoint {
    metrics /metrics
}
